*{
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

// navbar.scss

$navbar-bg-color: #0050a0; // Background color
$navbar-text-color: #ffffff; // Text color
$navbar-height: 260px; // Navbar height

.navbar {
background-image: url(https://static.naukimg.com/s/7/123/i/bg-image.ba9809cb.jpg);
color: $navbar-text-color;
height: $navbar-height;
display: flex;
padding: 0 20px; // Adjust padding as needed
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add shadow for a material design look
font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
text-align: center;
justify-content: center;
}