body {
  margin: 0;
  padding: 0;
  background-color: white;  // Set the background color to white
  background-image: url('../js/assets/pd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.signupdetailsContainer {
  max-width: 400px;
  margin-left: 5%;
  margin-top: 50px;
  background: #FBF6F1; /* Light blue background */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.signupdetailsContainer h2 {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.signupdetailsContainer form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.signupdetailsContainer label {
  margin: 10px 0;
  font-size: 16px;
  text-align: left;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.signupdetailsContainer input,
.signupdetailsContainer select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #0070E0; /* Blue border */
  border-radius: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3); /* Light blue background */
  backdrop-filter: blur(4px);
  transition: background 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box; /* Prevent text boxes from extending beyond the form */
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.signupdetailsContainer input::placeholder {
  color: rgba(173, 216, 230, 0.6); /* Light blue placeholder color */
}
.signupdetailsContainer input:focus {
  background: rgba(255, 255, 255, 0.4); /* Slightly lighter blue background on focus */
  border-color: #0070E0; /* Blue border color on focus */
  outline: none;
}
.signupdetailsContainer button {
  background-color: #0070E0; /* Blue button background color */
  color: #FBF6F1;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0 auto; /* Center the button */
  display: block; /* Ensure button takes the full width */
}
.signupdetailsContainer button:hover {
  background-color: #0050A0; /* Slightly darker blue on hover */
}