.speechContainer {
    text-align: center;
    margin: 20px;
  
  
  button {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
  }
  
  div {
    
  }
  .leftWrapper{
    display: inline-block;
    width: 20%;
  }

  .rightWrapper{
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin-top: 20px;
    .textheading{
      font-weight: 500;
    font-size: 14px;
  
    }
    .textmsg{
      color: #156669;
    }
  }
  .speak-img{
    width: 70px;
  }
}